<input type="text" [(ngModel)]="title">
{{ title }}



<div *ngIf="title === 'nicolas'">
  este es un Nicolas
</div>

<div *ngIf="title === 'julian'">
  este es Julian
</div>

<div *ngIf="title === 'camila'">
  este es camila
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
    <p *ngSwitchCase="'julian'">Este es Julian</p>
    <p *ngSwitchCase="'camila'">Este es camilo</p>
    <p *ngSwitchDefault> no hay match</p>
</div>


<ul>
  <li *ngIf="items.length === 0">la lista esta vacia</li>
  <li *ngFor="let name of items, index as i">
     {{name}} - {{i}}
     <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product *ngFor="let product of products" 
  (productClicked)="clickProduct($event)" 
  [product]="product"></app-product>
</div>
  

